html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header,
.footer {
  background-color: #1f2937;
}

.header {
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 10vw 96px;
  gap: 80px;
}

.header-bar ul {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.header-link,
.header-text p,
.btn,
.footer p {
  color: #e5e7eb;
  font-size: 18px;
}
.header-link {
  text-decoration: none;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  gap: 48px;
  flex-wrap: wrap;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
  gap: 12px;
  flex: 1;
  min-width: 15em;
}

.header-text h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.header-text p {
  margin: 0;
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d757e;
  width: 50%;
  height: 236.5px;
  flex: 1;
  min-width: 15em;
}

.btn,
.card {
  background-color: #3882f6;
}

.btn {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  padding: 8px 32px;
}

.information {
  text-align: center;
  padding: 52px 16vw 96px;
}

.information h2,
.quote p {
  color: #1f2937;
}

.information h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 52px;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.item-img {
  width: 145px;
  height: 145px;
  margin: 0 auto 8px;
  border: cornflowerblue solid 4px;
  border-radius: 8px;
}

.item p {
  color: #6d757e;
  margin: 0;
  font-size: 16px;
  max-width: 150px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 96px 16vw 72px;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

p.author {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  align-self: flex-end;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 10vw;
}

.card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 6vw;
  border-radius: 8px;
}

.card .btn {
  border: 4px solid white;
}

.card-text h4,
.card-text p {
  color: #e5e7eb;
  font-size: 18px;
}

.card-text h4 {
  margin: 0;
}
.card-text p {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.footer p {
  margin: 0;
}
